<div class="container">

    <div id="selectedPhoto">
        <h1>{{imageTitle}}</h1>

        <div class="selectedPhotoItem">
            <img {{bind-attr src=imageUrl}} class="selectedImage" />

        </div>
    </div>
</div>